<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row g-3 align-items-center">
                <label for="message">Enter the length of arrays from 10 till 100:</label>
                <input type="text" class="form-control" id="message">
                <button id="send" type="button" class="btn btn-success">Send</button>
            </div>
            <table id="receiveMsg" class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                </tr>
                </thead>
            </table>
            <div class="row g-3 align-items-center">
                <p>Generate random sequence</p>
                <button id="auto" type="button" class="btn btn-success">Auto</button>
                <button id="generate" type="button" class="btn btn-success">Generate</button>
            </div>
        </div>
        <table id="receiveRandomMsg" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>