<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row g-3 align-items-center">
                <label class="text-center" for="message">Enter the length of array from 10 till 100:</label>
                <input type="text" class="form-control" id="message">
                <button id="send" type="button" class="btn btn-success">Send</button>
            </div>
            <table id="receiveMsg">
            </table>
            <div class="row g-3 align-items-center">
                <button id="generate" type="button" value="generate" class="mt-5 btn btn-success">Generate 5 random
                    sequences with length equals 6 from arrays above
                </button>
            </div>
            <table id="receiveRandomMsg">
            </table>
            <div class="row g-3 align-items-center">
                <button id="auto" type="button" value="auto" class="mt-5 btn btn-success">Auto generate random sequence
                    periodically
                </button>
            </div>
            <table id="receiveAutoMsg">
            </table>
        </div>
    </div>
</div>
</body>
</html>